
body {background-color:lightskyblue;
}
div.first{
    opacity:0.6;
}
div.second{
    opacity:0.3;
}
div.third{
    opacity:0.1;
}



h1{ text-align:center}
h2{text-align: center;}
h1{
font-size: 60px;
} 
h2{
font-size:50px;
} 
div {  
text-align: center;
}
body{
    text-align: justify;
}
